<div class="container-fluid d-flex align-items-center justify-content-center" style="background-color: #ADEFD1FF; height: 100%;">
    <div class="container" style="background-color: #00203FFF;">
        <h1 class="text-center" >Todo List</h1>
        <div class="row d-flex justify-content-center p-3">
          <input type="text" style="width: 40%;" class="form-control" [(ngModel)]="newTask" placeholder="Whats on Your Mind">
        </div>  
          <div class="row d-flex justify-content-center p-3">
            <button class="btn btn-sub ms-3 " (click)="addTask()">Add</button>
            <button class="btn btn-del ms-3 " (click)="clr()">Clear</button>
          </div>
      
        <div class="row-md-6 d-flex justify-content-center">
            <table class="table table-bordered table-stripped" style="width: 80%; border: 1px solid black; ">
                <tr>
                    <th class="p-3" style=" width: 20%;">
                        Sr. no.
                        </th>
                    <th class="p-3" >
                    Task
                    </th>
                    <th class="p-3" style=" width: 20%;">
                    Delete
                    </th>
                </tr>
    
                <tr *ngFor="let task of tasks; let i = index">
                    <th class="p-2 ms-1 text-center" >{{i+1}}</th>
                    <td class="p-2 ms-1 text-center" >{{ task.name }}</td>
                    <td class="p-2 ms-1 text-center" >
                        <button class="btn btn-danger btn-sm float-right" (click)="deleteTask(i)">Completed</button></td>
                    <hr>    
                </tr>
            </table>
        </div>
</div>