<button class="btn btn-primary" style="float: right;" (click)="openDialog()">AddSomething</button>

<br>
<br>
<br>
<br>
<hr>

<div class="container" >
  <table class="table" >
    <thead>
      <tr >
        <th scope="col">S.no</th>
        <th scope="col">Name</th>
        <th scope="col">Designation</th>
        <th scope="col">Action</th>
      </tr>
     
    </thead>
    <tbody >
      <tr *ngFor="let a of data,let i =index">
        <th scope="row">{{i+1}}</th>
        <td>{{a.name}}</td>
        <td>{{a.designation}}</td>
        <td><mat-icon aria-hidden="false" aria-label="Example home icon" (click)="deleteInfo(i)" fontIcon="delete" ></mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example home icon" [routerLink]="[a.name,a.designation]" fontIcon="edit"></mat-icon>
  
        </td>
      </tr>
     
    </tbody>
  </table>

</div>



