<!-- <div
  style="
    border: 2px solid black;
    box-shadow: 6px 6px 4px 3px aqua;
    margin: 4px;
    height: 500px;
  "
>
  <h1
    class="text-center"
    style="background-color: antiquewhite; color: blueviolet"
  >
    Parent Component
  </h1>

  <input type="text" placeholder="enter here" [(ngModel)]="something" />

  

  <app-child-component [something]="something"></app-child-component>
  <app-child1component [abc]="something"></app-child1component>
  
</div> -->

<!-- <div>
  <h1 class="text-center">@viewChild</h1>

  <input type="text" placeholder="enter here" #name (input)="Name(name.value)">
  <app-child-component></app-child-component>
</div> -->

<!-- <div>
  <h1 class="text-center">@view Child</h1>
  <input type="text" placeholder="enter here" #name (input)="Name(name.value)">
  <app-child-component></app-child-component>
</div> -->













<!-- <div>
  <h1 class="text-center">@viewChild()</h1>
  <input type="text" placeholder="enter here" #name (input)="Name(name.value)">
  <app-child-component></app-child-component>
</div> -->


<!-- <div>
  <h1 class="text-center">@viewChild()</h1>
  <input type="text" placeholder="enter" #xyz (input)="NN(xyz.value)">
  <app-child-component></app-child-component>
</div> -->


<!-- <div style="border: 2px solid aqua; box-shadow: 6px 6px 4px 3px black ; height: 400px; margin: 4px;">
  <h1 class="text-center">@output</h1>
  <h1>Name:{{Name}}</h1>

  <app-child-component (checkName)="GetData($event)"></app-child-component>
</div> -->

<!-- 
<div>
  <h1>name:{{Name}}</h1>
  <app-child-component (checkName)="GetData($event)"></app-child-component>
</div> -->


 <!-- <div style="border: 2px solid aqua; box-shadow: 6px 6px 4px 3px black ; height: 400px; margin: 4px;">
  <h1>output</h1>
  <input type="text" placeholder="enter" [(ngModel)]="Name">

  <app-child-component [abc]="Name">NameBycontent:{{Name}}</app-child-component>
</div>  -->


